.btn-primary{
    background:0 0;
    border:1px solid #c72510;
    color:#4c546d
}

button.btn-primary:hover{
    background:#c72510;
    border:1px solid #c72510;
    color:#fff
}

button.btn-primary{
    background-color:#fff;
    border:1px solid #c72510;
    border-radius:3px!important;
    color:#c72510;
    font-family:ThemeFont;
    font-display:swap;
    padding:9px 0;
    text-align:center;
    width:250px
}